<div class="row justify-content-center mt-3">
  <div class="col-lg-3 col-sm-6 col-12">
  <div class="card">
  <div class="card-header">
  <h5>Login</h5>
  </div>
  <div class="card-body">
                  <label>Login:</label>
                  <input type="text" [(ngModel)]="usuario.login"
                      class="form-control">
                  <br>
                  <label>Senha:</label>
                  <input type="password" [(ngModel)]="usuario.senha"
                      class="form-control">   
              </div>
              <div class="card-footer">
                  <button (click)="login()"
                      class="btn btn-primary float-right">
                      Login
                  </button>
              </div>
          </div>
      </div>
  </div>
